<nav class="ui labeled icon menu">
  <header class="ui header item">
    <a id="title" href="/start">
      <i class="university icon"></i>
      MyGallery
    </a>
  </header>
  <div class="right menu">
    <a id="signup" class="item" href="/signup"> 
    Sign Up
    </a>
    <a id="login" class="item" href="/login"> 
    Login
    </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>