<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <title>MyGallery</title>
    <!-- import the SemanticUI stylesheet -->
    <link rel="stylesheet" 
          href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.css">  
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the SemanticUI and jQuery javascript files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>
    <script  src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.js">
    </script>   
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <section class="ui container">
       {{{body}}}
    </section>
  </body>
</html>