{{> welcomemenu }}

<span style="position: relative;">
<h2 style="margin:0; font-family:serif; font-size:64px; position:absolute; top: -519px; left: 30%; z-index: 1; color:#2f1b09;">MyGallery</h2>
<img style="width: 63%; transform:translate(0, 50px);" src="https://images.unsplash.com/photo-1609811692040-35b06faddb8d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt="">
</span>